{% extends "users/base.html" %}
{% block title %} RequestCode {% endblock title%}
{% block content %}
<div class="form-content my-3 p-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <div class="card-header justify-content-center">
                        <h3 class="font-weight-light my-4 text-center">Input Your Request Code</h3>
                        <h3 class="font-weight-light my-4 text-center">Now I Will Show You Security Code Beacuse of SMTP Error: {{ scode }}</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST" id="otp">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group">
                                        <label class="small mb-1" for="id_code">RequestCode</label>
                                        <input type="password" name="requestcode" autocomplete="new-password"
                                            class="form-control" required id="id_code"
                                            placeholder="Enter Request Code" />
                                        <input type="hidden" name="code" value="{{ requestcode }}"/>
                                        <input type="hidden" name="username" value="{{ username }}"/>
                                        <input type="hidden" name="email" value="{{ email }}"/>
                                        <span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group mt-0 mb-1">
                                        <button type="submit" class="col-md-12 btn btn-dark">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}